@font-face {
    font-family: myfont;
    src : url('font/GE_SS_Two_Bold.otf')
}

@font-face {
    font-family: myfont2;
    src : url('font/DroidKufi-Regular.ttf')
}

body{
    padding-top:100px;
    font-family:myfont2;
}

.navbar-default{
    background-color: #0c5c82;
    border-color: #e7e7e7;
    height: 70px;
    padding-top: 10px;
}

.navbar-default .navbar-nav > li > a {
        color: #e7e7e7;
        font-family: myfont;
}

.navbar-default .navbar-nav > li > a:hover {
        color: #fff;
}

.myfooter{
    background-color: cornflowerblue;
    padding-top: 10px;
    font-family: myfont;
    text-align: justify;
}

.subfooter {
    background-color: #0c5c82;
    color:white;
    padding: 10px;
    text-align: center;
}

.myfooter a{
    color: azure;
}

.myfooter p {
    color: azure;
}

.myfooter h3,ul,p {
    margin-bottom: 20px;
    font-family: myfont2;
}